* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding:  2px 100px;
    transition: .3s;
    background: #04293A;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo {
    /* padding: 12px 30px; */
    height: 3em;
    float: left;
    font-size: 24px;
    transition: .3s;
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0.678); */
    /* background-color: #000; */
    border-radius: 100%;
}
.nav__logo:hover {
    filter: invert(100%);
    transform: scale(1.5);
    /* backgroun#ffffff7af73; */
}
.nav__img {
    max-width: 100%;
    max-height: 100%;
}

.nav__ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav__li {
    list-style: none;
}
.nav__a {
    line-height: 2;
    color: rgb(73, 94, 151);
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    color: #ffff;
}

/* .nav__a:focus {
    outline: none;
} */

.nav__a:hover {
    background:#ecb465e0;
    color: #fff;
    border-radius: 10px;
}
.nav__a.active svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.nav__a.active rect {
    width: 100%;
    height: 100%;
    stroke: #000;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}

.nav__a.active:hover rect {
    stroke-dashoffset: 0;
}

.content{
    margin-top: 80px;
}

.content p {
    width: 900px;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}